<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <div class="row column voluntary-work-list">
    <div class="card__list-list">
      <% delegations.each do |delegation| %>
        <div class="card__list">
          <div class="card__list-content">
            <h5 class="card__list-title">
              <%= link_to translated_attribute(delegation.resource.title), Decidim::EngineRouter.main_proxy(delegation.resource.component).election_path(delegation.resource) %>
            </h5>
            <div class="card__list-text">
              <%= t("vote_delegated", scope: "decidim.action_delegator.user_delegations.index", name: "<strong>#{delegation.granter.name}</strong>").html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
