<div class="callout callout-info mb-4">
  <h5 class="h5"><%= t("title", scope: "decidim.action_delegator.elections.admin.dashboard.results_type_info") %></h5>
  <p><%= t("#{params[:results]}_html", scope: "decidim.action_delegator.elections.admin.dashboard.results_type_info", default: t("normal_count_html", scope: "decidim.action_delegator.elections.admin.dashboard.results_type_info")) %></p>
</div>