<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.email_field :email %>
      </div>
      <div class="row column">
        <%= form.text_field :phone %>
      </div>
      <div class="row column">
        <%= form.select :decidim_action_delegator_ponderation_id, ponderations_for_select(current_setting), include_blank: true %>
      </div>
    </div>
  </div>
</div>
